nav{
	background-color: lightgreen;
}

nav li{
	list-style: none;
	list-style-position: outside;
}

nav ul{
	display: flex;
	justify-content: space-around;
	padding:0px;
}

nav::before{
	content:"";
	display: table
}
